@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kundeprofil Outlook addin</h1>
    <p class="lead">Install addin by click the install button.</p>
    <p>
        @Html.ActionLink("Install", "Install", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

